<div class="back-button-container">
    <button class="back-button" mat-raised-button routerLink="/products" [state]="product">Back to product list</button>
</div>
<div class="container">
    <div class="left-column">
        <img [src]="(productDetails$ | async)?.imageAddress">
        <div>{{ (productDetails$ | async)?.price}}</div>
    </div>
    <div class="right-column">
        <div class="name-container">
            <div>{{ (productDetails$ | async)?.name}}</div>
            <button mat-raised-button (click)="toggleDescription()">{{ showDescription ? 'Hide' : 'Show' }} description</button>
        </div>
        <mat-divider></mat-divider>
        <ng-container *ngIf="showDescription">
            <div >{{ (productDetails$ | async)?.description }}</div>
            <mat-divider></mat-divider>
        </ng-container>
        <div>{{ (productDetails$ | async)?.type}}</div>
        <mat-divider></mat-divider>
        <div>{{ (productDetails$ | async)?.created | date: 'yyyy/MM/dd HH:mm:ss' }}</div>
    </div>
</div>