<div class="back-button-container">
    <button class="back-button" mat-raised-button routerLink="/products" [state]="product">Back to product list</button>
</div>
<div class="container">
    <div class="left-column">
        <mat-card>
            <img [src]="(productDetails$ | async)?.imageAddress">
            <div class="price">{{ (productDetails$ | async)?.price | currency:'EUR'}}</div>
        </mat-card>
    </div>
    <div class="right-column">
        <mat-accordion>
            <mat-expansion-panel [expanded]="true">
                <mat-expansion-panel-header>
                    <mat-panel-description>
                        {{ (productDetails$ | async)?.name}}
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <div>{{ (productDetails$ | async)?.description }}</div>
                <mat-divider></mat-divider>
                <div>{{ (productDetails$ | async)?.type}}</div>
                <mat-divider></mat-divider>
                <div>{{ (productDetails$ | async)?.created | date: 'yyyy/MM/dd HH:mm:ss' }}</div>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>