.product{
    height: 500px;
}

.product-image{
    height: 200px;
}

.product-header{
    height: 35px;
}

.product-header span {
  width: 220px;
  padding: 0;
  overflow: hidden;
  position: relative;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-description{
    height: 250px;
}