<div class="contact-container">

  <div *ngIf="(contactForm.valid && contactForm.touched && submitted); else elseBlock">
    Thank You
  </div>
  <ng-template #elseBlock>

    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Input" formControlName="fullName">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Input" formControlName="email" required email>
        </mat-form-field>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="contactForm.controls.email.errors.required">Email is required</div>
          <div *ngIf="contactForm.controls.email.errors.email">Email must be a valid email address</div>
        </div>

        <mat-form-field>
          <textarea matInput placeholder="Textarea" formControlName="message"></textarea>
        </mat-form-field>
      </div>

      <button type="submit" [disabled]="false">Submit</button>
    </form>

  </ng-template>

    <div #gmap style="width:100%;height:400px"></div>
</div>