.item{
    display: grid;
    grid-template-columns: 50% 15% 30%;
    grid-column-gap: 20px;
    align-items: center;
}

.operations{
    display: flex;
    justify-content: space-between;
}