.container{
    display: flex;
    justify-content: center;
}

.form-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 20px;
}

.left-column{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.right-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form{
    width: 50%;
}

.submit-button{
    display: flex;
    justify-content: flex-end;
}