.item{
    width: 100%;
}

.list-footer{
    display: grid;
    grid-template-columns: 50% auto;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-container{
    width: 50%;
}

.add-product-button{
    margin-top: 10px;
}